.header {
    width: 100%;
    background: lightblue;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.flex-line {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 span {
    color: #0099FF;
}

h2 {
    margin: 8px 15px 2px;
}

.menu-list {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu-list li:hover {
    background: #0099FF;
    transition: all 0.3s ease 0s;
}

ul,
ol,
li {
    list-style: none;
    user-select: none;
    padding: 0;
}

.menu-list>li:last-child {
    position: relative;
    padding: 38px 30px;
}

.menu-list>li:first-child {
    position: relative;
    padding: 30px 5px;
}

#userFind {
    width: 219px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
}

.sub-menu-list {
    position: absolute;
    top: 96px;
    right: 0;
    background: lightblue;
    padding: 0;
    min-width: 131px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
}



.show-list {
    min-width: 283px;
}

.sub-menu-list>li {
    padding: 15px 15px;
}



.menu-list>li:hover .sub-menu-list {
    opacity: 0.95;
    visibility: visible;
    transform: translate(0px 0px);
    pointer-events: all;
}


.container {
    max-width: 1024px;
    margin: auto;
}

main {
    padding: 93px 0 0 0;
    background: rgb(231, 231, 231);
}

.container-weathers {
    min-height: 700px;
    background: white;
    padding: 1px 0;
    border-radius: 15px;
}

.horison {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.vertical {
    flex-direction: column;
}

/* .loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
}

@keyframes mulShdSpin {

    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }

    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }

    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }

    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
} */

.card-weather {
    width: 300px;
    min-height: 378px;
    border-radius: 15px;
    background: rgb(106, 162, 197);
    color: rgb(243, 241, 241);
    padding: 5px 5px 10px;
    margin: 20px auto;
    position: relative;
}

.card-weather>span {
    padding: 1px 8px 3px;
    border-radius: 25px;
    position: absolute;
    top: 3px;
    left: 284px;
    user-select: none;
}

.card-weather>span:hover {
    opacity: 0.5;
    background-color: red;
    color: white;
}

.card-weather>span:active {
    opacity: 0.3;
}

h3 {
    border-bottom: 1px solid lightgray;
    margin: 8px 0;
    padding-bottom: 5px;
}

.card-weather p {
    margin: 2px 0;
}

.card-weather h3 {
    text-align: center;
}

#spinner {
    margin: 26px 0 0 75px;
}

.hidden {
    display: none;
}

.front-view {
    display: flex;
    justify-content: space-around;
}


.left-view {
    width: 47%;
    min-height: 151px;
}

.right-view {
    width: 47%;
    height: 100%;
}

.currently-date {
    font-size: 10px;
}

.currently-time {
    font-size: 26px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 4px;
}

.container-temperature {
    font-size: 10px;
    display: flex;
    display: flex;
    justify-content: space-around;

}

.left-view-temperature {
    width: 45%;
    height: 100%;
}

.right-view-temperature {
    width: 53%;
    height: 100%;
    padding-top: 8px;
}

.temperature {
    font-size: 40px;
}

.description {
    border-bottom: 1px solid lightgray;
    padding: 0 0 6px 30px;
}

.future-weather {
    min-height: 99px;
    display: flex;
    justify-content: space-around;
    padding-top: 12px;

}

.future-weather div {
    border-right: 1px solid lightgrey;
    padding-right: 5px;
}

.future-weather div:last-child {
    border-right: none;
    padding-right: 0;

}

.future-weather p {
    margin: 2px;
    font-size: 10px;
}

.footer-card {
    text-align: center;
    border-top: 1px solid lightgray;
    margin-top: 12px;
    padding-top: 7px;
}


footer {
    height: 100px;
    background: rgb(214, 214, 214);
    color: rgb(128, 126, 126);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}